/* Styles for the button */

.interactif{
    -fx-cursor: hand; 

}
	
.button {
	-fx-cursor: hand; /* Cursor style */
    -fx-background-color: #1db954; /* Background color */
    -fx-text-fill: white; /* Text color */
    -fx-font-size: 14px; /* Font size */
    -fx-font-family: "Arial"; /* Font family */
    -fx-padding: 8px 16px; /* Padding */
    -fx-border-radius: 4px; /* Border radius */
    -fx-border-color: #1db954; /* Border color */
}

/* Hover effect */
.button:hover {
    -fx-background-color: #1ed760; /* Background color on hover */
    -fx-border-color: #1ed760; /* Border color on hover */
}

/* Pressed effect */
.button:pressed {
    -fx-background-color: #1aa34a; /* Background color when pressed */
    -fx-border-color: #1aa34a; /* Border color when pressed */
}