/* Fichier css pour javaFx */
* {
	-fx-grey-color: #b9b9b9;
}

#root{
	-fx-background-color: white;
}


.text-field {
	-fx-background-color: white;
	-fx-background-radius: 0;
	-fx-border-width : 0 0 1 0;
	-fx-border-color : -fx-grey-color;
}
.text-field:focused {
	-fx-border-color : black;
}

#btnAjouter{
    -fx-text-fill: white; 
    -fx-font-size: 14px; 
    -fx-padding: 8px 16px; 
    -fx-border-radius: 5px; 
	
}

.btnAble {
    -fx-background-color: #4CAF50; 
    -fx-cursor: hand; 
    -fx-border-color: #4CAF50; 
}

.btnAble:hover {
    -fx-background-color: #45a049; 
    -fx-border-color: #45a049; 
}

.btnAble:pressed {
    -fx-background-color: #3e8e41; 
    -fx-border-color: #3e8e41; 
}

.btnDisable{
	-fx-background-color: #6a916b; 
    -fx-cursor: default ; 
    -fx-border-color: #6a916b; 
}

#anchorPaneImageMusic{
	-fx-border-color : black;
	-fx-cursor : hand;
}

#anchorPaneImageMusic:pressed{
	-fx-border-color : grey;
}

#logoMusic{
	-fx-cursor : hand;
}



